@font-face {
  font-family: "fontello";
  src: url("./font/fontello.eot");
  src: url("./font/fontello.eot") format("embedded-opentype"),
    url("./font/fontello.woff2") format("woff2"),
    url("./font/fontello.woff") format("woff"),
    url("./font/fontello.ttf") format("truetype"),
    url("./font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?95347660#fontello') format('svg');
    }
  }
  */

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: 0.2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-html5:before {
  content: "\e800";
}
.icon-clipboard:before {
  content: "\e801";
}
.icon-group:before {
  content: "\e802";
}
.icon-award:before {
  content: "\e803";
}
.icon-css3:before {
  content: "\f13c";
}
